body {
  background-color: lightblue;
}
@media only screen and (orientation: landscape){
	body{
		background-color: black; 
	}
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.aprincipal{
	color: white;
}
.aprincipal:hover{
	color: green;
}
.navbar{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 4px;
}
#dropdown-menu{
	color: #fff;
	background-color: #530 !important;
}
#dropdown-menu a:hover{
	background-color: red !important;
}